.fixed{
	position:fixed;
}



/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 320px) and (max-width: 1900px) {
	button{		
		padding: 6px 12px !important;
		font-size: 14px !important;
		line-height: 1.42857143 !important;
		border-radius: 4px !important;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	/*button{
		padding: 5px 10px !important;
		font-size: 12px !important;
		line-height: 1.5 !important;
		border-radius: 3px !important;
	}*/
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	
}